.animated-line-container {
  position: relative;
  overflow: hidden;
  height: 20px;
  margin-left: -32px;
  margin-right: -32px;
}

.animated-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background: repeating-linear-gradient(
    -45deg,
    var(--primary-color),
    var(--primary-color) 10px,
    var(--card-background-color) 10px,
    var(--card-background-color) 20px
  );
  animation: move-line 80s linear infinite;
}

@keyframes move-line {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
