.card {
  position: relative;
  border-radius: var(--border-radius-large);
  border: var(--border-solid);
  padding: var(--spacing-large);
  gap: var(--spacing-extra-large);
  max-width: 430px;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  transform: translateY(100px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.title-container {
  gap: var(--spacing-base);
}

.card-title {
  position: relative;
  gap: var(--spacing-extra-small);
  overflow: hidden;
}

.card-title p {
  font-size: var(--font-size-base);
}

.theme-container {
  gap: var(--spacing-base);
  height: 100%;
}

@keyframes slide-in-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card.animate-in {
  animation: slide-in-up 0.8s ease forwards;
}
